/* Add here all your css styles (customizations) */

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2%;
    color: #fff;
    text-align: center;
    opacity: .5;
}

a:focus, a:hover{
	color: #00988b;
}



body {
  font-family: 'Lato', sans-serif !important;
  }

.carousel-indicators {

	bottom: -50px !important;
}

.modal-body-espectaculos {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px !important;
}

.tp-caption.Photography-Menuitem,.Photography-Menuitem
{
	background-color: rgb(0,0,0);
}

.tp-caption.slogan,.slogan
{
	background-color:transparent;
	border-color:transparent;
	border-radius:0 0 0 0;
	border-style:none;
	border-width:0;
	color:rgba(255,255,255,1.00);
	font-family: 'Lato', sans-serif !important;
	font-size:48px;
	font-style:bold;
	font-weight:100;
	letter-spacing:1px;
	line-height:70px;
	padding:0;
	text-decoration:none;
	text-transform: uppercase;

}

.tp-caption.tituloEspectaculo,.tituloEspectaculo
{
	background-color:transparent;
	border-color:transparent;
	border-radius:0 0 0 0;
	border-style:none;
	border-width:0;
	color:rgba(255,255,255,1.00);
	font-family: 'Lato', sans-serif !important;
	font-size:48px;
	font-style:normal;
	font-weight:bold;
	letter-spacing:1px;
	line-height:70px;
	padding:0;
	text-decoration:none;
}

.tp-caption.subtituloEspectaculo,.subtituloEspectaculo
{
	background-color:transparent;
	border-color:transparent;
	border-radius:0 0 0 0;
	border-style:none;
	border-width:0;
	color:rgba(255,255,255,1.00);
	font-family: 'Lato', sans-serif !important;
	font-weight:bold;
	font-style:bold;
	font-weight:5;
	letter-spacing:1px;
	line-height:70px;
	padding:0;
	text-decoration:none;
}

.info-popup{
margin-top:30px;
font-family:'Lato',sans-serif;
font-size:16px;
}

.horarios.popup{
	padding-left:40px;
	padding-right:40px;
	margin-bottom: 20px;
}

.container-popup-espect{
	padding-left:15px;
	padding-right:50px;
	font-family:'Lato'sans-serif;;
	font-size:15px;
	min-height: 410px;
}

.button-espect {
	background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	text-transform: uppercase;
	color:#000000;
	font-family: 'Lato', sans-serif;
	font-size:24px;
	font-weight:bold;
	padding:2px 10px 2px 10px;
	text-decoration:none;
	border-radius: 0px;	
}

.button-popup-espect {
	margin-top: 20px;
	background-color:#630066;
	display:inline-block;
	cursor:pointer;
	text-transform: uppercase;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:4px 10px 4px 10px;
	text-decoration:none;
	border-radius: 0px;	
}



.tp-caption.descripcionEspectaculo,.descripcionEspectaculo
{
	background-color:transparent;
	border-color:transparent;
	border-radius:0 0 0 0;
	border-style:none;
	border-width:0;
	color:rgba(255,255,255,1.00);
	font-family: 'Lato', sans-serif !important;
	font-size:20px;
	font-style:normal;
	font-weight:100;
	letter-spacing:1px;
	line-height:70px;
	padding:0;
	text-decoration:none;
}

/*Quito el border de modal header*/
.modal-header{
	border-bottom: 0px !important;
	padding-bottom: 0px;
}

.modal-footer{
	border-top: 0px !important;
	padding: 30px;
}

/*Agrego linea vertical en derecha del contenedor*/
.line-container-left{
	border-left: 1px solid;
	padding-left: 15px;
	/*padding-right: 40px;*/
}

/*Agrego padding en los modals*/
.padding-container-modal{
	padding-top: 0px;
	padding-bottom: 40px;
	padding-right: 40px;
	padding-left: 40px;
}

/*Modifico el ancho del modal*/
.modal-lg {
    max-width: 1080px !important;
}

/*Bajo un poco mas el modal*/
.modal-content {
	top: 10px !important;
	border-radius: 0;
}

.modal-nosotros{

   background-image: url(../img/img-nosotros.jpg);
   width: 100%;
	height: auto;
	background-repeat: no-repeat;
}

.content-contacto {
    line-height: 160%;
}


/*CONTACTO*/

.button-contacto {
	background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	text-transform: uppercase;
	color:#630066;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	padding:2px 20px 2px 20px;
	text-decoration:none;
	border-radius: 0px;	
	margin-top:40px;
	
}


.title-contacto{
	font-family:'Lato',sans-serif;
	font-size:33px;
	font-weight:bold;
	text-transform: uppercase;
}

.subtitle-contacto{
	font-family:'Lato',sans-serif;
	font-size:26px;
	font-weight:bold;
	text-transform: uppercase;
}

.infotitle-contacto{
	font-family:'Lato',sans-serif;
	font-size:21px;
	font-weight:bold;
}

.info-contacto{
	font-family:'Lato',sans-serif;
	font-size:21px;
	font-weight : 500;
}

/*SERVICIO*/

.info-servicio{
	font-family:'Lato',sans-serif;
	font-size:16px;
	/*font-weight : 500;*/
}

.button-servicios {
	background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	text-transform: uppercase;
	color:#00988b;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	padding:2px 20px 2px 20px;
	text-decoration:none;
	border-radius: 0px;	
	margin-top:40px;
	
}

/*Eventos*/
.title-1{
	font-family:'Lato',sans-serif;
	font-size:20px;
	font-weight:lighter;
	
}
.title-2{
	font-family:'Lato',sans-serif;
	font-size:23px;
	font-weight:bolder;
}
.title-3{
	font-family:'Lato',sans-serif;
	font-size:15px;
	font-weight:lighter;
}

/*NOSOTROS*/

.title-nosotros{
	font-family:'Lato',sans-serif;
	font-size:33px;
	font-weight:bold;
}

.info-nosotros{
	font-family:'Lato',sans-serif;
	font-size:17px;
}

.year-nosotros{
	font-family:'Lato',sans-serif;
	font-size:28px;
	font-weight:bold;
}

.moreinfo-nosotros{
	font-family:'Lato',sans-serif;
	font-size:13px;
	font-weight:black;
}

/*TALLERES*/
.title-taller{
	font-family:'Lato',sans-serif;
	font-size:28px;
	font-weight:bold;
}

.text-taller{
	font-family:'Lato',sans-serif;
	font-size:15px;
}

.group-title-evento{
	line-height: 28px;
}